Source: ddarch
Section: utils
Priority: optional
Maintainer: Łukasz Chodyła <chodak166@op.pl>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/chodak166/ddarch
Vcs-Git: https://github.com/chodak166/ddarch.git
Vcs-Browser: https://github.com/chodak166/ddarch

Package: ddarch
Architecture: all
Depends: coreutils (>= 8.25), parted (>= 3.2), udev, file, mount, fdisk, gdisk, e2fsprogs, p7zip-full, zip, unzip, ${shlibs:Depends}, ${misc:Depends}
Description: dd helper script to easily create, preserve and restore disk images
 This is a simple helper tool that wraps dd, fdisk, parted along 
 with other utilities to easily create, preserve and restore disk images.
