Source: ddarch
Section: utils
Priority: optional
Maintainer: chodak166 <chodak166@op.pl>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://git.nixlab.in/chodak166/ddarch.git
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/ddarch.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/ddarch.git

Package: ddarch
Architecture: all
Depends: coreutils (>= 8.25), parted (>= 3.2), fdisk, e2fsprogs, p7zip-full, zip, unzip, ${shlibs:Depends}, ${misc:Depends}
Description: dd helper script to easily create, preserve and restore disk images
 Ddarch is a simple helper script that wraps dd, fdisk, parted along
 with other tools to easily create, preserve and restore disk images.
